.container {
  display: flex;
  justify-content: space-around;
}
#info-panel {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

footer,
header,
main {
  padding: 1rem 1rem;
}
form {
  margin-top: 1rem;
}
.delete,
.nav {
  padding: 0.2rem;
}
:root {
  --width-content: 100%;
}
